@tailwind base;
@tailwind components;
@tailwind utilities;


 /* img for signuppage  is here  */


 
body {

  background :url(/public/BG.avif);
   background-size: cover   ;
   background-position:center ;
   background-repeat : no-repeat ;

}